/* Estilos Navbar */
.navbar {
    margin: 0;
    background-color: #264566;
    padding: 10px 0px;
    position: relative; /* Cambiado a relative para que no se sobrepape con el contenido */
    width: 100%;
    z-index: 1000;
  }
  
  .brand-name {
    margin-left: 45px;
    font-weight: bold;
    font-size: 25px;
    color: #fff;
  }
  
  /* Estilos para los elementos del Navbar */
  .navbar-nav .nav-link {
    color: #fff;
    margin: 0 10px;
  }
  
  .custom-search-form {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 10px; /* Ajustado el margen derecho */
  }
  
  .nbutton {
    margin-left: auto;
    margin-right: 10px; /* Ajustado el margen derecho */
  }
  
  /* Media query para hacerlo responsive */
  @media (max-width: 768px) {
    .navbar {
      padding: 10px;
    }
  
    .custom-search-form,
    .nbutton {
      margin: 0; /* Elimina los márgenes en pantallas pequeñas */
    }
  
    .brand-name {
      margin-left: 10px;
      font-size: 18px; /* Ajusta el tamaño de la fuente en pantallas pequeñas */
    }
  
    .navbar-toggler {
      display: block;
    }
  }

